%article.business
  .container.business_info
    .row
      .col-sm-10.col-sm-offset-1
        %header
          %h3
            = @business.name
        %br
        %p
          = @business.description

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %form
        %fieldset
          .form-group
            %label Review this business
            .row
              .col-sm-8
                %textarea.form-control(name="" rows="6" value="Start your review...")
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          %a(href="") Cancel
      %header
        %h3 
          = "User Reviews (#{@business.reviews.count})"
          Showing the Most Recent 10 Reviews
      %ul
        - @business.recent_reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  by
                  = link_to review.user.username
              .col-sm-8
                %p
                  = review.body
